
<!-- Secion de los proyectos-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Proyectos</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Sección de los proyectos-->
        <div class="row justify-content-center">
            {{!-- Mediante este bucle imprimimos los proyectos grupales obtenidos en mysite.js --}}
            {{#each proyectoGrupales}}
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal{{id}}">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio/img_proyectos/imgProyecto{{idPersonal}}.png" alt="..." />
                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0 text-center">{{nombre}}</h2>
                </div>
            </div>
            {{/each}}
            {{!-- Aquí generamos los individuales --}}
            {{#each proyectosIndividuales}}
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal{{id}}">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio/img_proyectos/imgProyectoI{{idPersonal}}.png" alt="..." />
                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0 text-center">{{nombre}}</h2>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<!-- Incluimos las ventanas modales de cada proyecto para que se vea la info de cada uno-->
{{> fichaProyecto}}